<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>口语测评</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <div class="header clearfix">
        <div class="logo fl">
            <a href="index.html">
                <img src="static/images/logo.png" alt="logo">
            </a>
        </div>
        <ul class="menu fl">
            <li class="">
                <a href="#">首页</a>
            </li>
            <li class="">
                <a href="#">课堂资源</a>
            </li>
            <li class="">
                <a href="#">知识案例</a>
            </li>
            <li class="">
                <a href="#">实验视频</a>
            </li>
            <li class="">
                <a href="#">组卷中心</a>
            </li>
            <li class="active">
                <a href="index.html">口语测评</a>
            </li>
        </ul>
        <div class="login fr">
            <a href="javascript:;" class="login-btn">登录</a>
        </div>
    </div>


    <div id="speaking_app">
        <!--[if lte IE 8]>
            <h2 style="text-align:center">抱歉，浏览器版本过低看不到效果。请升级或更换浏览器。</h2>
        <![endif]-->

        <!-- <speaking-header :logo="header.logo" :menu="header.menu" v-cloak></speaking-header> -->

        <div class="speaking-container">
            <div class="clouds"></div>
            <div class="position" v-cloak>当前位置：
                <a v-for="(v, i) in position" :href="v.url || 'javacript:;'">{{v.name}}</a>
            </div>

            <div class="speaking-content" v-cloak>
                <div class="nav-bar">
                    <router-link v-for="(v, i) in nav.navItems" :class="['nav-item', v.class]" :to="v.to">
                        <i class="sp-icon"></i>
                        <span>{{v.name}}
                            <br>
                            <small>{{v.en}}</small>
                        </span>
                    </router-link>
                </div>

                <div class="speaking-main clearfix">
                    <div v-if="isMenu" class="left-menu fl">
                        <div class="book" :class="{open: book.isOpen}">
                            <div class="title">
                                <span>{{book.bookName}}</span>
                                <a href="javascript:;" class="open-btn" @click="book.isOpen=true">切换</a>
                            </div>

                            <div class="items-wrap" v-if="book.bookItems.per">
                                <label>学段：</label>
                                <div class="item">
                                    <label v-for="(item, index) in book.bookItems.per.list" :key="index" :class="{active: item.percode==book.bookItems.per.selected, disabled: !item.enabled}">
                                        {{item.pername}}
                                        <input type="radio" name="book_per" :disabled="!item.enabled" :value="item.percode" @change="menuChange('per')" v-model="book.bookItems.per.selected">
                                    </label>
                                </div>
                                <label>科目：</label>
                                <div class="item">
                                    <label v-for="(item, index) in book.bookItems.sub.list" :key="index" :class="{active: item.subcode==book.bookItems.sub.selected}">
                                        {{item.subname}}
                                        <input type="radio" name="book_sub" :value="item.subcode" @change="menuChange('sub')" v-model="book.bookItems.sub.selected">
                                    </label>
                                </div>
                                <label>教版：</label>
                                <div class="item">
                                    <select name="book_mater" @change="menuChange('mater')" v-model="book.bookItems.mater.selected">
                                        <option v-for="item in book.bookItems.mater.list" :value="item.matercode">{{item.matername}}</option>
                                    </select>
                                </div>
                                <label>年级：</label>
                                <div class="item">
                                    <select name="book_fasc" v-model="book.bookItems.fasc.selected">
                                        <option v-for="item in book.bookItems.fasc.list" :value="item.fasccode">{{item.fascname}}</option>
                                    </select>
                                </div>
                            </div>
                            <div v-else class="items-wrap">
                                <div class="loading loading-active"></div>
                            </div>
                            <div class="bottom-side">
                                <button @click="getMenu">确定</button>
                            </div>
                        </div>

                        <ul class="unit v-tree" v-if="unit.menu.length">
                            <vue-tree v-for="(item, i) in unit.menu" :key="i" :model="item" :activeid="unit.activeId" @node-click="selectUnit">
                            </vue-tree>
                        </ul>
                        <div v-else>暂无目录</div>
                    </div>
                    <div class="main-box fr">
                        <keep-alive>
                            <router-view :nav="nav.active" :rtitle="rightTitle"></router-view>
                        </keep-alive>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="footer">
        <p>技术支持：山东金视野教育科技股份有限公司</p>
        <p>鲁ICP备09042772号-4</p>
    </div>

    <script src="static/js/vue.min.js"></script>
    <script src="static/js/vue-router.min.js"></script>
    <!-- <script src="static/js/mock-min.js"></script> -->
    <script src="static/js/require.js" data-main="static/js/main"></script>
</body>

</html>